<ul class="sidebar-menu" data-widget="tree">
	<li class="header">MAIN NAVIGATION</li>
	<li class="treeview">
		<a href="#">
			<i class="fa fa-table"></i>
			<span>Tables</span>
			<span class="pull-right-container">
				<i class="fa fa-angle-left pull-right"></i>
			</span>
		</a>
		<ul class="treeview-menu">
			<li><a href="/backstage/table"><i class="fa fa-circle-o"></i>用户数据</a></li>
		</ul>
	</li>
</ul>
